entrypoint = "main.sh"
modules = ["bash", "python-3.11", "java-graalvm22.3"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["bash", "main.sh"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "APK Decompiler"

[[workflows.workflow]]
name = "APK Decompiler"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80
